Repository JaMongDan/rehabilitation_algorithm, pull requests merged in 2024-04, with the labels that each got.

#48 [BOJ]2589.보물섬
  전수민과_끝까지_간다/boj_2589_보물섬.java
  전수민과_끝까지_간다/boj_2667_단지번호붙이기.java
Labels: BOJ, SOLVE, ALGORITHM

#64 [BOJ] 1038. 감소하는 수 📉
  성영준/boj_1038_감소하는수.java
Labels: BOJ, NON-SOLVED, ALGORITHM

#18 [BOJ] 1916 최소비용 구하기 🦖🦖🦖
  soomin/BOJ_1916.java
  soomin/out/production/soomin/BOJ_1916.class
Labels: HELP, BOJ, SOLVE

#21 [BOJ] 1700. 멀티탭 스케쥴링
  soomin/BOJ_1700.java
Labels: HELP, BOJ, NON-SOLVED
